@import "partials/timber";
@import "partials/variables";
/* ----------------------------------- */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------------------- */
%text-small {
    font-size: 12px;
}

%text-normal {
    font-size: 14px;
}

%text-title {
    font-size: 18px;
}

%text-bold {
    font-family: "OpenSans-Bold" !important;
}
/* ----------------------------------- */
%text-justify {
    text-align: justify !important;
}

%text-uppercase {
    text-transform: uppercase !important;
}
/* ----------------------------------- */
@media (max-width: 480px) {}
@media (max-width:768px) {}
/* ----------------------------------- */
.mg-left-15 {
    margin-left: -15px !important;
}

.mg-left-20 {
    margin-left: -20px !important;
}

.mg-left-24 {
    margin-left: -24px !important;
}

.pd-left24 {
    padding-left: 24px !important;
}

.pd-side-20 {
    padding: 0 20px;
}

.pd-left15 {
    padding-left: 15px !important;
}

body {
    position: relative;
}

h1,
h2,
h3 {
    line-height: normal !important;
    font-weight: normal !important;
}

.btnType1,
.inputBtnType1 {
    background: $colorBtnBg1 !important;
    color: $colorBtnText1 !important;
    border-color: $colorBtnBorder1 !important;

    &:hover {
        background: $colorBtnBg1Hover !important;
        color: $colorBtnText1Hover !important;
        border-color: $colorBtnBorder1Hover !important;
    }
}

.hover-layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mg-bottom80 {
    margin-bottom: 80px !important;
}
/* --------- Header ----------- */
#header {
    .header-top {
        background: $colorBgHeaderTop;
        padding: 5px 0;

        .header-top-contact {
            a {
                display: inline-block;
                padding: 0 15px;
                color: $colorTextHeaderTop;
                @extend %text-normal;
                @extend %text-uppercase;
                border-right: 1px solid $colorTextHeaderTop;

                &:first-child {
                    padding-left: 0 !important;
                }

                span {
                    @extend %text-bold;
                }

                &.active {
                    @extend %text-bold;
                }

                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: 0;
                }
            }
        }

        .header-top-account {
            a {
                display: inline-block;
                padding-right: 5px;
                margin-right: 5px;
                color: $colorTextHeaderTop;
                @extend %text-normal;
                border-right: 1px solid $colorTextHeaderTop;

                &.my-account {
                    position: relative;
                    padding-left: 28px;

                    img {
                        position: absolute;
                        left: 0;
                    }
                }

                &.sign-out {
                    text-decoration: underline;
                }

                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: 0;
                }
            }
        }
    }

    .desktop-main-header {
        padding: 20px 0;
        background: $colorBgHeader;

        .search-form {
            margin-top: 10px;

            form {
                position: relative;
                width: 100%;

                .input-group {
                    width: 100%;
                }
            }

            input {
                height: 31px !important;
                line-height: 31px;
                width: 100%;
                max-width: 430px;
                border-radius: 10px;
                border: 3px solid #ededed;
                box-shadow: none !important;
                outline: 0 !important;
                @extend %text-normal;
                color: $colorTextBody;
                background: $colorThird;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                height: 31px;
                width: 31px;
                line-height: 31px;
                text-align: center;
                display: inline-block;
                @extend %text-title;
                color: $colorSecondary;
            }
        }

        .cart-wrapper {
            margin-top: 10px;

            img {
                display: inline-block;
                margin-right: 10px;
                transform: translateY(5px);
            }

            a {
                display: inline-block;
                padding: 5px 10px;
                background: $colorSecondary;
                color: $colorThird;
                border-radius: 10px;

                .cart-items-count {
                    padding-right: 5px;
                    margin-right: 5px;
                    border-right: 1px solid $colorThird;
                    @extend %text-normal;
                }

                .cart-sum {
                    @extend %text-normal;
                    @extend %text-bold;
                }
            }
        }
    }

    .desktop-navbar {
        background-color: $colorBgNavbar;

        ul {
            margin: 0;

            li {
                display: inline-block;
                margin: 0;
                padding: 0 20px;
                text-align: center;
                float: left;

                &.dropdown-menu {
                    position: relative;

                    > ul {
                        position: absolute;
                        margin: 0;
                        min-width: 220px;
                        top: 100%;
                        left: 0;
                        display: none;
                        z-index: 99 !important;

                        > li {
                            text-align: left;
                            width: 100%;
                            margin-bottom: 0;
                            list-style-type: none;
                            padding: 0 15px !important;
                            background: $colorBgDropdown !important;

                            &:last-child {
                                > a {
                                    border: 0 !important;
                                }
                            }

                            &:hover {
                                > a {
                                    @extend %text-bold;
                                    background: transparent !important;
                                }
                            }

                            > a {
                                border-bottom: 1px solid rgba(255,255,255,0.3) !important;
                            }

                            a {
                                width: 100%;
                                padding: 10px 0 !important;
                                position: relative;
                                display: block;
                                color: $colorTextDropdown !important;
                                @extend %text-normal;
                                text-align: left;

                                i {
                                    position: absolute;
                                    top: calc(50% - 7px);
                                    right: 0;
                                }
                            }
                        }
                    }

                    &--lv2 {
                        > ul {
                            top: 0;
                            left: 100%;
                        }
                    }

                    &:hover {
                        > ul {
                            z-index: 1;
                            display: block;
                        }
                    }
                }

                &.hot-sale.active {
                    .main-banners {
                        display: block;
                    }
                }

                &.hot-sale {
                    position: relative;

                    .main-banners {
                        margin: 0;
                        position: absolute;
                        min-width: 1120px;
                        top: 100%;
                        left: 0;
                        margin-top: 20px;
                        display: none;

                        .tab {
                            overflow: hidden;

                            button {
                                height: 40px !important;
                                line-height: 40px;
                                border-radius: 10px !important;
                                margin: 0 15px 0 0;
                                background: #ebebeb;
                                color: $colorTextBody;
                                font-size: 12px;
                                @extend %text-uppercase;
                                float: left;
                                cursor: pointer;
                                outline: 0 !important;
                                padding: 0 20px;

                                &:last-child {
                                    margin: 0 !important;
                                }

                                &.active,
                                &:hover {
                                    background: $colorSecondary;
                                    color: $colorThird;
                                    @extend %text-bold;
                                }
                            }
                        }
                        /* Style the tab content */
                        .tabcontent {
                            display: none;
                            margin: 20px 0;

                            .img-banner {
                                &.mini {
                                    margin-bottom: 25px;
                                }

                                a {
                                    margin: 0 !important;
                                    padding: 0 !important;
                                    border: 0 !important;
                                }
                            }

                            .featured-brand {
                                position: relative;
                                padding: 0;
                                border: 0;
                                display: block;
                                margin-bottom: 30px;
                                overflow: hidden;

                                &:hover {
                                    .brand-name {
                                        color: $colorSecondary;
                                    }

                                    img {
                                        transform: scale(1.1);
                                    }
                                }

                                img {
                                    width: 100%;
                                    vertical-align: middle;
                                    transform: scale(1);
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }

                                .brand-name {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: 2;
                                    @extend %text-title;
                                    color: $colorThird;
                                }
                            }
                        }

                        .tabcontent {
                            -webkit-animation: fadeEffect 1s;
                            animation: fadeEffect 1s;
                            /* Fading effect takes 1 second */
                        }
                        @-webkit-keyframes fadeEffect {
                            from {
                                opacity: 0;
                            }

                            to {
                                opacity: 1;
                            }
                        }
                        @keyframes fadeEffect {
                            from {
                                opacity: 0;
                            }

                            to {
                                opacity: 1;
                            }
                        }
                    }
                }

                &.active,
                &:hover {
                    background: $colorBgNavbarHover;

                    > a {
                        background: $colorBgNavbarHover;
                        color: $colorTextNavbarHover;
                        border-bottom: 2px solid $colorTextNavbarHover;
                        @extend %text-bold;
                    }
                }

                a {
                    padding: 10px 0;
                    border-bottom: 2px solid transparent;
                    border-top: 2px solid transparent;
                    display: inline-block;
                    text-align: center;
                    @extend %text-normal;
                    color: $colorTextNavbar;
                }
            }
        }
    }
}

#suggested-products {
    margin-top: 600px;
    margin-bottom: 30px;

    #owl-home-suggested-product-slider {
        .owl-controls {
            margin: 0;
        }

        .owl-buttons {
            > div {
                position: absolute;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                top: calc(50% - 15px);
                display: inline-block;
                background: #7fd0d4;
                color: #fff;
                padding: 0;
                margin: 0;

                &.owl-prev {
                    left: 30px;
                }

                &.owl-next {
                    right: 0;
                }
            }
        }

        .product-item {
            padding-bottom: 20px;
            position: relative;

            &:hover {
                .product-actions {
                    a {
                        &.btnAddToCart,
                        &.btnFavourite,
                        &.btnQuickView {
                            transform: translateX(0);
                            opacity: 0.9;
                        }
                    }
                }

                .product-img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .product-img {
                overflow: hidden;
                margin-bottom: 10px;

                a {
                    display: block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        transform: scale(1);
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }
            }

            .product-title {
                margin-bottom: 10px;

                a {
                    display: block;
                    @extend %text-normal;
                    @extend %text-bold;
                    color: $colorTextBody;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }

            .product-price {
                span {
                    display: inline-block;
                    color: #4f4f4f;
                    font-size: 12px;
                    margin-right: 5px;

                    &.current-price {
                        font-size: 16px;
                        color: $colorSecondary;
                        @extend %text-bold;
                    }

                    &.original-price {
                        font-size: 14px;
                        color: #c2c2c2;
                        margin: 0;
                    }
                }
            }

            .product-sale-tag {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                background: $colorSecondary;
                color: $colorThird;
                @extend %text-normal;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .product-actions {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;

                a {
                    display: inline-block;
                    height: 32px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                    padding: 0;
                    border-radius: 50%;
                    margin: 2px;
                    background: $colorSecondary;
                    color: $colorThird;
                    @extend %text-normal;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &.btnFavourite {
                        transform: translateX(-50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.btnAddToCart {
                        transform: translateY(50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.btnQuickView {
                        transform: translateX(50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.section-title {
    margin-bottom: 30px;

    .line {
        width: 100%;
        height: 4px;
        background: #f6f6f6;
        z-index: 1;
        margin-top: -10px;
    }

    h2 {
        display: inline-block;
        @extend %text-title;
        @extend %text-bold;
        @extend %text-uppercase;
        color: $colorSecondary;
        margin: 0;
        padding: 0 15px;
        background: $colorBody;
        z-index: 2;
    }
}

#home-collection {
    margin-bottom: 40px;

    .collection-feature-img {
        position: relative;

        &:hover {
            .btnViewAll,
            .hover-layout {
                display: block;
            }
        }

        a {
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                vertical-align: middle;
                transform: scale(1);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    #owl-home-collection-slider1,
    #owl-home-collection-slider2,
    #owl-home-collection-slider3,
    #owl-home-collection-slider4 {
        padding: 0 30px;

        .owl-controls {
            margin: 0;
        }

        .owl-buttons {
            > div {
                position: absolute;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                top: calc(50% - 15px);
                display: inline-block;
                background: #7fd0d4;
                color: #fff;
                padding: 0;
                margin: 0;

                &.owl-prev {
                    left: 0;
                }

                &.owl-next {
                    right: 0;
                }
            }
        }

        .collection-item {
            .collection-img {
                overflow: hidden;
                margin-bottom: 10px;

                a {
                    display: block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        transform: scale(1);
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .collection-title {
                margin-bottom: 10px;

                a {
                    display: block;
                    @extend %text-normal;
                    @extend %text-bold;
                    color: $colorTextBody;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }

            .collection-price-range {
                span {
                    display: inline-block;
                    font-size: 12px;
                    color: #4f4f4f;
                    margin-right: 5px;

                    &.collection-price {
                        font-size: 16px;
                        color: $colorSecondary;
                        @extend %text-bold;
                        margin: 0;
                    }
                }
            }
        }
    }
}

#home-advertisement {
    margin-bottom: 50px;

    .long-advertisement-img {
        a {
            display: block;

            img {
                width: 100%;
                vertical-align: middle;
            }
        }
    }
}

#home-showroom {
    padding: 20px 0;
    background: $colorSecondary;

    .showroom-location {
        h3 {
            font-size: 12px;
            @extend %text-uppercase;
            @extend %text-bold;
            color: $colorThird;
            margin: 0 0 10px;
        }

        .showroom-info {
            font-size: 12px;
            color: rgba($colorThird, 0.8);
            margin: 0 0 5px;

            &:last-child {
                margin: 0 !important;
            }
        }
    }

    .openning-hours {
        h3 {
            font-size: 12px;
            @extend %text-bold;
            color: $colorThird;
            margin: 0 0 10px;
        }

        .openning-hours-detail {
            font-size: 12px;
            color: rgba($colorThird, 0.8);
            margin-bottom: 30px;
        }
    }

    .contact-email,
    .contact-hotline {
        a {
            display: block;
            font-size: 12px;
            color: rgba($colorThird, 0.8);

            span {
                @extend %text-bold;
                color: $colorThird !important;
            }
        }
    }
}

#footer {
    padding: 30px 0 170px;
    background: url('../images/footer_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid $colorSecondary;

    h3 {
        font-size: 14px;
        color: $colorTextFooterTitle;
        margin: 0 0 10px;
        @extend %text-uppercase;
        @extend %text-bold;
    }

    .footer-nav {
        ul {
            margin: 0;

            li {
                margin: 0;
                display: block;

                a {
                    display: inline-block;
                    font-size: 11px;
                    color: $colorTextFooter;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorTextFooterHover;
                    }
                }
            }
        }
    }

    .footer-subscribe-desc {
        font-size: 11px;
        color: $colorTextFooter;
        margin-bottom: 15px;
    }

    .footer-subscribe-form {
        input {
            width: 100%;
            height: 31px;
            background: #e0e0e0;
            color: $colorTextFooter;
            font-size: 12px;
            border-radius: 10px;
            outline: 0 !important;
            box-shadow: none;
            border: 0 !important;
            margin-bottom: 15px;
        }

        button {
            padding: 0 10px;
            height: 31px;
            background: $colorSecondary;
            color: $colorThird;
            @extend %text-bold;
            border-radius: 10px;
            line-height: 31px;
            text-align: center;
            float: right;
        }
    }

    .list-social-network {
        a {
            display: inline-block;
            border-radius: 50%;
            line-height: 25px;
            text-align: center;
            margin-right: 5px;
            color: $colorThird;
            font-size: 14px;
            width: 25px;
            height: 25px;
            background: $colorSecondary;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
}

#online-support {
    position: fixed;
    bottom: 0;
    right: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 99999;
    cursor: pointer;
    padding: 10px 15px;
    background: $colorSecondary;
    min-width: 260px;

    .online-support-desc {
        @extend %text-normal;
        @extend %text-bold;
        color: $colorThird;
        position: relative;

        i {
            position: absolute;
            top: 4px;
            right: 0;
        }

        img {
            position: absolute;
            top: -470%;
            right: -15px;
        }
    }
}

.pagination-custom {
    margin-bottom: 70px;

    span {
        display: inline-block;
        padding: 0;
        margin: 2px;

        &.current {
            display: inline-block;
            height: 40px;
            width: 40px;
            background: $colorSecondary;
            font-size: 18px;
            color: $colorThird;
            line-height: 40px;
            border: 1px solid $colorSecondary;
            border-radius: 10px;
        }

        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background: $colorThird;
            font-size: 18px;
            color: $colorSecondary;
            line-height: 40px;
            border-radius: 10px;
            border: 1px solid $colorSecondary;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;

            &:hover {
                background: $colorSecondary;
                color: $colorThird;
            }
        }
    }
}

#back-to-top {
    position: fixed;
    bottom: 55px;
    right: ($gutter / 2);
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    z-index: 99999;
    cursor: pointer;
    border: 1px solid #7fd0d4;

    .border-wrapper {
        height: 44px;
        width: 44px;
        line-height: 44px;
        font-size: 18px;
        background: #7fd0d4;
        color: $colorThird;
        border-radius: 50%;
    }
}

.border-white {
    border-left: 1px solid rgba($colorThird, 0.8);
}

#breadcrumb-citylocation {
    margin: 30px 0;

    .breadcrumb-wrapper {
         > a,
        > span {
            display: inline-block;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 30px;
            line-height: 30px;
            float: left;
            margin: 0;
            padding: 0 15px;
            text-align: center;
            @extend %text-small;
            color: $colorTextBody;
            position: relative;
            margin-left: -10px;
            z-index: 1;
            border-right: 1px solid #fff;
        }

        > a:first-child {
            background: darken(#ebebeb, 10%);
            margin: 0 !important;
            z-index: 3;
        }

        > a:nth-child(2) {
            background: darken(#ebebeb, 5%);
            z-index: 2;
        }

        > span {
            background: #ebebeb;
        }
    }

    .select-city-location {
        > span {
            display: inline-block;
            margin-right: 10px;
            @extend %text-normal;
            color: $colorTextBody;
        }

        select {
            border-radius: 5px;
            border: 1px solid $colorSecondary;
            height: 30px;
            line-height: 30px;
            padding: 0 28px 0 10px;
            outline: 0 !important;
            box-shadow: none;
        }
    }
}

#collection-wrapper {
    .collection-sidebar-wrapper {
        a.accordion {
            color: $colorTextBody;
            @extend %text-normal;
            cursor: pointer;
            padding: 5px 0;
            width: 100%;
            text-align: left;
            outline: none;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: block;
        }

        a.accordion.active,
        a.accordion:hover {
            color: $colorSecondary;
        }

        a.accordion:after {
            content: '\f105';
            font-family: FontAwesome;
            color: $colorTextBody;
            float: right;
            margin-left: 5px;
        }

        a.accordion.active:after {
            content: "\f107";
            font-family: FontAwesome;
            color: $colorSecondary;
            float: right;
            margin-left: 5px;
        }

        div.panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        .collection-sidebar-content {
            margin-bottom: 30px;

            .collection-sidebar-title {
                padding: 0 15px;
                height: 40px;
                line-height: 40px;
                color: $colorThird;
                @extend %text-normal;
                @extend %text-bold;
                background: #707070;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .collection-categories,
            .collection-sort-age,
            .collection-sort-brands,
            .collection-sort-countries,
            .collection-sort-prices {
                padding: 15px;
                border: 1px solid #7fd0d4;
                border-top: 0 !important;
                @extend %text-normal;
                color: $colorTextBody;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    .collection-content-wrapper {
        .collection-banner {
            margin-bottom: 40px;

            a {
                display: block;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }

        .collection-info {
            h1 {
                @extend %text-title;
                @extend %text-bold;
                margin: 0 0 20px;
                padding: 0;
                color: $colorTextBody;
            }
        }

        .collection-sort {
            > span {
                display: inline-block;
                margin-right: 10px;
                @extend %text-normal;
                color: $colorTextBody;
            }

            select {
                border-radius: 5px;
                border: 1px solid $colorSecondary;
                height: 30px;
                line-height: 30px;
                padding: 0 28px 0 10px;
                outline: 0 !important;
                box-shadow: none;
            }
        }

        .collection-desc {
            @extend %text-normal;
            color: $colorTextBody;
            margin-bottom: 70px;
        }

        .product-item {
            margin-bottom: 70px;
            position: relative;

            &:hover {
                .product-actions {
                    a {
                        &.btnAddToCart,
                        &.btnFavourite,
                        &.btnQuickView {
                            transform: translateX(0);
                            opacity: 0.9;
                        }
                    }
                }

                .product-img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .product-img {
                overflow: hidden;
                margin-bottom: 10px;

                a {
                    display: block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        transform: scale(1);
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }
            }

            .product-title {
                margin-bottom: 10px;

                a {
                    display: block;
                    @extend %text-normal;
                    @extend %text-bold;
                    color: $colorTextBody;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }

            .product-price {
                span {
                    display: inline-block;
                    color: #4f4f4f;
                    font-size: 12px;
                    margin-right: 5px;

                    &.current-price {
                        font-size: 16px;
                        color: $colorSecondary;
                        @extend %text-bold;
                    }

                    &.original-price {
                        font-size: 14px;
                        color: #c2c2c2;
                        margin: 0;
                    }
                }
            }

            .product-sale-tag {
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                background: $colorSecondary;
                color: $colorThird;
                @extend %text-normal;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .product-actions {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;

                a {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    border-radius: 50%;
                    margin: 5px;
                    background: $colorSecondary;
                    color: $colorThird;
                    @extend %text-title;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &.btnFavourite {
                        transform: translateX(-50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.btnAddToCart {
                        transform: translateY(50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.btnQuickView {
                        transform: translateX(50px);
                        opacity: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999999999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.8);
    /* Black w/ opacity */
}

#popup-btn {
    display: none;
}
/* Modal Content */
.popup-content {
    background: url('../images/popup-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 800px;
    width: 70%;
    top: 20%;
    position: relative;

    .popup-wrapper {
        background: rgba(255, 255, 255, 0.2);
        padding: 50px 30px;
    }

    .popup-title {
        @extend %text-title;
        @extend %text-bold;
        color: $colorTextBody;
        margin-bottom: 15px;
    }

    .popup-desc {
        @extend %text-normal;
        color: $colorTextBody;
        margin-bottom: 15px;
    }

    form {
        position: relative;
        width: 100%;

        .input-group {
            width: 100%;
        }

        input {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            @extend %text-normal;
            color: $colorTextBody;
            background: #fff;
            border: 0;
            border-radius: 10px;
            outline: 0 !important;
            margin-bottom: 15px;
        }

        button {
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            margin: 0;
            border-radius: 10px;
            @extend %text-normal;
            @extend %text-bold;
            color: $colorThird;
            background: $colorSecondary;
            outline: 0 !important;
            box-shadow: none;
            float: right;
        }
    }

    .popup-social-network {
        display: inline-block;
        font-size: 36px;
        color: $colorSecondary;
        margin-right: 5px;
        height: 40px !important;
        line-height: 40px !important;
    }
}

.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    color: $colorThird;
    font-size: 24px;
    font-weight: bold;
    display: block;
    height: 40px;
    width: 40px;
    background-color: $colorSecondary;
    text-align: center;
    z-index: 9999;
}

.close-popup:focus,
.close-popup:hover {
    color: $colorThird;
    text-decoration: none;
    cursor: pointer;
}

.product-img-wrapper {
    #sync1 .item {
        margin: 5px;
        text-align: center;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    #sync2 .item {
        margin: 5px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #e3e3e3;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

.product-content-wrapper {
    .product-title {
        margin-bottom: 30px;

        h1 {
            @extend %text-title;
            @extend %text-bold;
            @extend %text-uppercase;
            color: $colorTextBody;
            margin: 0;
            padding: 0;
        }
    }

    .product-brand,
    .product-hotline-order,
    .product-sku,
    .product-status {
        @extend %text-normal;
        color: $colorTextBody;
    }

    .product-hotline-order {
        margin-bottom: 30px;
    }

    .product-price {
        margin-bottom: 20px;

        .current-price {
            display: inline-block;
            @extend %text-title;
            @extend %text-bold;
            color: $colorSecondary;
        }

        .original-price,
        span {
            @extend %text-normal;
            color: $colorTextBody;
        }
    }

    .product-size {
        margin-bottom: 15px;

        span {
            color: $colorTextBody;
            @extend %text-normal;
            display: block;

            &.size {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                background: #ebebeb;
                text-align: center;
                margin: 3px;
                cursor: pointer;
            }
        }
    }

    .product-color {
        margin-bottom: 15px;

        span {
            color: $colorTextBody;
            @extend %text-normal;
            display: block;

            &.color {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 3px;
                cursor: pointer;
            }

            &.color-pink {
                background: pink;
            }

            &.color-blue {
                background: blue;
            }

            &.color-gray {
                background: gray;
            }
        }
    }

    .product-quantity {
        margin-bottom: 30px;

        span {
            color: $colorTextBody;
            @extend %text-normal;
            display: block;
        }

        .decreaseVal,
        .increaseVal {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background: #ebebeb;
            @extend %text-normal;
            color: $colorTextBody;
            text-align: center;
            padding: 0;
            margin: 0;
            border-radius: 5px;
            outline: 0 !important;
        }

        .val {
            height: 40px;
            width: 80px;
            line-height: 40px;
            text-align: center;
            @extend %text-normal;
            color: $colorTextBody;
            border-radius: 5px;
            outline: 0 !important;
        }

        .btnBuyNow {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            border-radius: 10px;
            color: $colorThird;
            background: $colorSecondary;
            border: 1px solid $colorSecondary;
            @extend %text-normal;
            @extend %text-bold;
            margin: 0 10px;
        }

        .btnAddToCart {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            border-radius: 10px;
            color: $colorSecondary;
            background: $colorThird;
            border: 1px solid $colorSecondary;
            @extend %text-normal;
            @extend %text-bold;
        }
    }
}

.product-mg-bottom {
    margin-bottom: 60px;
}

.product-detail-accordion {
    button.accordion {
        color: $colorTextBody;
        @extend %text-bold;
        cursor: pointer;
        padding: 10px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
    }

    button.accordion:after {
        content: '\f0da';
        font-family: FontAwesome;
        color: $colorTextBody;
        float: right;
        margin-left: 5px;
    }

    button.accordion.active:after {
        content: "\f0d7";
        font-family: FontAwesome;
    }

    div.panel {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        @extend %text-normal;
        color: $colorTextBody;

        table,
        td,
        th {
            border: 1px solid #f2f2f2;
            border-collapse: collapse;
        }

        table {
            background-color: #fafafa;
        }

        td,
        th {
            padding: 5px !important;
        }
    }
}

.related-products-wrapper {
    margin-bottom: 60px;

    .related-product-title {
        @extend %text-title;
        @extend %text-bold;
        color: $colorSecondary;
        @extend %text-uppercase;
        margin: 30px 0;
    }

    #owl-home-related-product-slider {
        .owl-controls {
            margin: 0;
        }

        .owl-buttons {
            > div {
                position: absolute;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                top: calc(50% - 15px);
                display: inline-block;
                background: #7fd0d4;
                color: #fff;
                padding: 0;
                margin: 0;

                &.owl-prev {
                    left: 30px;
                }

                &.owl-next {
                    right: 0;
                }
            }
        }
    }

    .product-item {
        padding-bottom: 20px;
        position: relative;

        &:hover {
            .product-actions {
                a {
                    &.btnAddToCart,
                    &.btnFavourite,
                    &.btnQuickView {
                        transform: translateX(0);
                        opacity: 0.9;
                    }
                }
            }

            .product-img {
                img {
                    transform: scale(1.1);
                }
            }
        }

        .product-img {
            overflow: hidden;
            margin-bottom: 10px;

            a {
                display: block;
                overflow: hidden;

                img {
                    width: 100%;
                    vertical-align: middle;
                    transform: scale(1);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }

        .product-title {
            margin-bottom: 10px;

            a {
                display: block;
                @extend %text-normal;
                @extend %text-bold;
                color: $colorTextBody;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    color: $colorSecondary;
                }
            }
        }

        .product-price {
            span {
                display: inline-block;
                color: #4f4f4f;
                font-size: 12px;
                margin-right: 5px;

                &.current-price {
                    font-size: 16px;
                    color: $colorSecondary;
                    @extend %text-bold;
                }

                &.original-price {
                    font-size: 14px;
                    color: #c2c2c2;
                    margin: 0;
                }
            }
        }

        .product-sale-tag {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            background: $colorSecondary;
            color: $colorThird;
            @extend %text-normal;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .product-actions {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;

            a {
                display: inline-block;
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                padding: 0;
                border-radius: 50%;
                margin: 2px;
                background: $colorSecondary;
                color: $colorThird;
                @extend %text-normal;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &.btnFavourite {
                    transform: translateX(-50px);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }

                &.btnAddToCart {
                    transform: translateY(50px);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }

                &.btnQuickView {
                    transform: translateX(50px);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#blog-wrapper {
    .blog-featured-articles {
        padding-bottom: 15px;
    }

    .featured-article {
        &:hover {
            .featured-article-img {
                img {
                    transform: scale(1.1);
                }

                .hover-layout {
                    opacity: 1;
                }
            }
        }

        .featured-article-img {
            overflow: hidden;
            position: relative;
            margin-bottom: 15px;

            img {
                width: 100%;
                vertical-align: middle;
                transform: scale(1);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }

        .datetime-comments {
            @extend %text-small;
            color: #666666;
            margin-bottom: 15px;

            span {
                display: inline-block;

                &:first-child {
                    padding-right: 5px;
                    margin-right: 5px;
                    border-right: 1px solid #666666;
                }
            }
        }

        .featured-article-title {
            margin-bottom: 15px;

            h3 {
                margin: 0;
                padding: 0;

                a {
                    display: block;
                    font-size: 16px;
                    color: $colorTextBody;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }
        }

        .featured-article-desc {
            @extend %text-small;
            color: #666666;
            margin-bottom: 15px;
        }

        .featured-article-action {
            a {
                display: inline-block;
                @extend %text-small;
                color: $colorSecondary;
            }
        }
    }

    .blog-category {
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 40px !important;
        }

        .blog-category-title {
            position: relative;
            margin-bottom: 15px;
            background: #707070;

            h2 {
                padding: 0;
                margin: 0;

                a {
                    display: block;
                    height: 45px;
                    line-height: 45px;
                    padding: 0 15px;
                    @extend %text-title;
                    @extend %text-bold;
                    color: $colorThird;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $colorSecondary;
                    }
                }
            }

            > a {
                position: absolute;
                right: 15px;
                top: calc(50% - 11px);
                display: inline-block;
                @extend %text-normal;
                color: $colorThird;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    color: $colorSecondary;
                }
            }
        }

        .category-featured-articles {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0 !important;
            }

            &:hover {
                .featured-article-img {
                    img {
                        transform: scale(1.1);
                    }

                    .hover-layout {
                        opacity: 1;
                    }
                }
            }

            &.mini {
                .featured-article-img {
                    margin-bottom: 0 !important;
                }

                .datetime-comments {
                    margin-bottom: 5px !important;
                }

                .featured-article-desc,
                .featured-article-title {
                    margin-bottom: 10px !important;
                }
            }

            .featured-article-img {
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    vertical-align: middle;
                    transform: scale(1);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }

            .datetime-comments {
                @extend %text-small;
                color: #666666;
                margin-bottom: 15px;

                span {
                    display: inline-block;

                    &:first-child {
                        padding-right: 5px;
                        margin-right: 5px;
                        border-right: 1px solid #666666;
                    }
                }
            }

            .featured-article-title {
                margin-bottom: 15px;

                h3 {
                    margin: 0;
                    padding: 0;

                    a {
                        display: block;
                        @extend %text-normal;
                        color: $colorTextBody;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        &:hover {
                            color: $colorSecondary;
                        }
                    }
                }
            }

            .featured-article-desc {
                @extend %text-small;
                color: #666666;
                margin-bottom: 15px;
            }

            .featured-article-action {
                a {
                    display: inline-block;
                    @extend %text-small;
                    color: $colorSecondary;
                }
            }
        }
    }

    .blog-sidebar-content {
        margin-bottom: 25px;

        .blog-sidebar-title {
            padding: 0 15px;
            height: 40px;
            line-height: 40px;
            color: $colorThird;
            @extend %text-normal;
            @extend %text-bold;
            background: #707070;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .all-tags-content {
          padding: 15px;
          border: 1px solid #7fd0d4;
          border-top: 0 !important;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          a {
            display: inline-block;
            margin-right: 5px;
            @extend %text-normal;
            color: $colorTextBody;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover {
              color: $colorSecondary;
            }
          }
        }

        &.sidebar-subscribe {
            form {
                .form-desc {
                    @extend %text-normal;
                    color: $colorTextBody;
                    margin-bottom: 15px;
                }

                input {
                    width: 95%;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 15px;
                    @extend %text-normal;
                    color: $colorThird;
                    background: #b7b7b7;
                    outline: 0 !important;
                    border: 0;
                    border-radius: 5px;
                }

                button {
                    height: 32px;
                    padding: 0 15px;
                    line-height: 32px;
                    text-align: center;
                    @extend %text-normal;
                    color: $colorThird;
                    background: $colorSecondary;
                    outline: 0 !important;
                    border-radius: 5px;
                }

                input::-webkit-input-placeholder {
                    color: #fff !important;
                }

                input:-moz-placeholder {
                    color: #fff !important;
                }

                input::-moz-placeholder {
                    color: #fff !important;
                }

                input:-ms-input-placeholder {
                    color: #fff !important;
                }
            }
        }
    }
}
