
// Border colors
$colorBorder: /*{{ settings.color_borders }}*/ #111111;

$colorPrimary: /*{{ settings.color_primary }}*/ #222222;
$colorSecondary: /*{{ settings.color_secondary }}*/ #ee5c74;
$colorThird: /*{{ settings.color_third }}*/ #fff;

$colorTextBody: /*{{ settings.color_body_text }}*/ #000;
$colorBody: /*{{ settings.color_body_bg }}*/ #fff;

$colorTextHeaderTop: /*{{settings.navbar_text_color}}*/ #000000;
$colorBgHeaderTop: /*{{settings.nav_bg_color}}*/ #c2c2c2;

$colorTextHeader: /*{{settings.navbar_text_color}}*/ #222222;
$colorBgHeader: /*{{settings.nav_bg_color}}*/ #fff;

$colorTextNavbar: /*{{settings.navbar_text_color}}*/ #fff;
$colorBgNavbar: /*{{settings.nav_bg_color}}*/ #ee5c74;

$colorTextNavbarHover: /*{{settings.navbar_text_color_hover}}*/ #ee5c74;
$colorBgNavbarHover: /*{{settings.nav_bg_color}}*/ #fff;

$colorBgDropdown: /*{{settings.dropdown_bg_color}}*/ #ee5c74;
$colorTextDropdown: /*{{settings.dropdown_text_color}}*/ #fff;

$colorBgDropdownHover: /*{{settings.dropdown_bg_color}}*/ #fff;
$colorTextDropdownHover: /*{{settings.dropdown_text_color}}*/ #ee5c74;

$colorTextFooter: /*{{settings.footer_text_color}}*/ #000;
$colorTextFooterHover: /*{{settings.footer_text_color_hover}}*/ #ee5c74;
$colorTextFooterTitle: /*{{settings.footer_text_color_title}}*/ #000;
$colorBgFooter: /*{{settings.footer_bg_color}}*/ #fff;

$colorTextCopyrights: /*{{settings.copyrights_text_color}}*/ #666;
$colorBgCopyrights: /*{{settings.copyrights_bg_color}}*/ #000;

$colorBtnBg1: /*{{settings.button1_bg_color}}*/ #ee5c74;
$colorBtnText1: /*{{settings.button1_text_color}}*/ #fff;
$colorBtnBorder1: /*{{settings.button1_border_color}}*/ #ee5c74;
$colorBtnBg1Hover: /*{{settings.button1_bg_color_hover}}*/ darken($colorBtnBg1, 10%);
$colorBtnText1Hover: /*{{settings.button1_text_color_hover}}*/ #fff;
$colorBtnBorder1Hover: /*{{settings.button1_border_color_hover}}*/ darken($colorBtnBorder1, 10%);

// Logo max width
$logoMaxWidth: /*{{ settings.logo_max_width | default: '450' | remove: 'px' }}px*/ 450px;

// Sizing variables
$siteWidth: 1180px;
$gutter: 30px;
$gridGutter: 30px; // can be a %, but nested grids will have smaller margins because of it
$radius: 3px;

/*================ Typography ================*/

$headerFontStack: 'OpenSans', Helvetica, Arial, sans-serif;
$headerFontWeight: 700;

$bodyFontStack: 'OpenSans', Helvetica, Arial, sans-serif;
$baseFontSize: 14px; // Henceforth known as 1em

/*@font-face {
  font-family: 'icons';
  src: url('{{ "icons.eot" | asset_url }}');
  src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
       url('{{ "icons.woff" | asset_url }}') format("woff"),
       url('{{ "icons.ttf" | asset_url }}') format("truetype"),
       url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}
$socialIconFontStack: 'icons';*/


.payment-icons {
  li {
    color: /*{{ settings.color_footer_social_link }}*/ #ff0000;
  }
}


.social-icons li {
  a {
    color: /*{{ settings.color_footer_social_link }}*/ #ff0000;

    &:hover {
      color: darken(/*{{ settings.color_footer_social_link }}*/#ff0000, 10%);
    }
  }
}

select {
  /*background: {
    image: url('{{ "ico-select.svg" | asset_url }}');
  }*/
}
